@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Barlow', 'sans-serif';
  color: #181818;
}

body {

}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(247, 243, 231);
  height: 110px;  
  z-index: 500;
  transition: all .2s ease-in-out;
  box-shadow: 0px 1px #18181818;
}

header.sticky {
  background-color: #fff;
}

nav {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 120px;
  position: relative;
  transition: left .3s ease-out;
}

#nav-list {
  display: flex;
  position: relative;
  left: 2em;
  gap: 50px;  
  list-style: none;
  transition: right .3s ease-out;
}

.nav-a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: color .2s;
}


nav h2 {
  position: relative;
  top: .4em;
  right: 3em;
  color: #fff;
}


/* HOME */
#home {
  display: flex;
  height: 900px;
  background-color: rgb(247, 243, 231);
}

#home-text {
  position: relative;
  top: 12.5em;
  left: 4em;
  width: 45%;
}

#home-h3 {
  background-color: #f43127;
  color: #fff;
  font-size: 18px;
  width: 14.7em;
  padding: .6em .8em;
}

#home-h1 {
  font-size: 72px;
  text-transform: uppercase;
  margin: .5em 0;
}

.home-li {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: .8px;
  line-height: 40px;
}

#home-btn {
  position: relative;
  top: 2em;
  height: 3.5em;
  width: 11em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  background-color: #fcb302;
  border: none;
  border-radius: 5em;
  transition: all .2s ease-out;
}

#home-btn:hover {
  background-color: #f43127;
  color: #181818;
}

#home-pizza {
  position: relative;
  top: 8em;
  right: 1.7em;
  width: 762px;
  height: 629px;
}


/* CHOICE CARDS */
#choice-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 4em;
  height: 382px;
  width: 90%;
  margin: 0 auto;
}

.card-container {
  height: 382px;
  width: 372px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 12px 15px 0px #adadad;
}

.card-header {
  background-color: #f43127;
  height: 25%;
  border-radius: 15px 15px 30% 30%;
  padding: 40px 15px 90px;
}

.card-h2 {
  position: relative;
  bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 28px;
}

.card-btn {
  position: relative;
  bottom: 10px;
  display: flex;
  margin: 0 auto;
  font-size: 17px;
  padding: .4em 1.5em;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  border: #fcb302 solid 2px;
  color: #fff;
  font-weight: 600;
}

.card-img-div {
  background-image: url('images/card-img.png');
  background-size: contain;
  justify-content: baseline;
  position: relative;
  bottom: 3.35em;
  height: 210px;
  overflow: hidden;
}

.card-img {
  position: relative;
  margin: 0 auto;
  display: flex;
  bottom: px;
}


/* OFFERS */
#offers-section {
  position: relative;
  top: 1em;
  text-align: center;
  height: 1280px;
  width: 90%;
  margin: 0 auto;
}

#offers-h3 {
  color: #f43127;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#offers-h1 {
  position: relative;
  bottom: .2em;
  font-size: 40px;
}

#filter-btns-div {
  justify-content: center;
  display: flex;
  gap: 15px;
}

.filter-btn {
  padding: .7em 1.5em;
  background-color: transparent;
  border: 1px solid #b4b4b4;
  border-radius: 5em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600; 
}

.offer-card {
  padding: 2.2em .6em .7em;
  height: 23.3em;
  width: 15em;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
}

.offer-card-img {
  width: 84%;
}

.offer-card-h2 {
  text-align: left;
  padding-left: .8em;
}

.offer-card-p {
  position: relative;
  bottom: 5px;
  height: 40px;
  width: 88%;
  text-align: left;
  padding-left: 1.25em;
}

.offer-card-price {
  position: relative;
  bottom: 4px;
  right: .9em;
  text-align: right;
  color: #f43127;
}

#offers-container {
  position: relative;
  top: 3em;
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
  justify-content: space-between;
  margin: 0 auto;
}

.offers-bg {
 position: absolute;
}

.hotdog-bg {
  top: -2.5em;
  left: -3em;
}

.pizza-bg {
  right: -2em;
  top: 25em;
}

.fries-bg {
  top: 42em;
  left: -5em;
}

.fries-two-bg {
  top: 22em;
  left: 32em;
}

.hotdog-two-bg {
  top: 8em;
  left: 52em;
}

.pizza-two-bg {
  top: 52em;
  left: 13em;
  rotate: 20deg;
}


/* QUALITY CONTAINER */
#quality-container {
  background-image: url("images/quality-bg.jpg");
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  background-color: aqua;
  height: 565px;
}